
// Fontss.nasrawi10@gmail.com pass: nasrawi10
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.big-padding{
	padding:30px;
}

.blue-grey{
	background-color: #37474f;
}
.white-text{
	color: white;
}

.navbar{
	margin-bottom: 0px;
}
body{
	background-color: #ededed;
}
.floating{
	position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 100;
}
.red-text {
	color: rgb(200,50,50);
}
.no-padding {
	padding: 0px;
}
.no-margin{
	margin: 0px;
}

.inline-block{
	display: inline-block;
}
.no-transform{
	text-transform: none;
}